{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}


<div class="store-panel background-accent">


      <div class="uk-child-width-1-2@s uk-grid-match uk-grid-collapse" uk-grid>
        <div>
          <div class="uk-container uk-container-small jp-align-vertical-center-left">


<div  class="uk-width-1-1">

  <div class="jp-margin-top-bottom">
    <h1 class="title-container">Informa Tu Pago Aquí</h1>
    <p class="regular-paragraph">Ingresa la información correspondiente al pago realizado. Se te enviará los detalles e isntrucciones
    de instalación.</p>
  </div>

{# Form to contact technical support #}

{{ form_start(form, { 'attr': {'class': 'support-form'} }) }}
{{ form_errors(form) }}
<div class="uk-margin">
<div class="uk-inline uk-width-1-1">
    <span class="uk-form-icon" uk-icon="icon: user"></span>
            {{ form_widget(form.name, { 'attr': {'class': 'uk-input', 'placeholder': 'Nombres (Ej. Jhon Doe)'} }) }}

</div>
</div>

<div class="uk-margin">
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: mail"></span>
        {{ form_widget(form.mail, { 'attr': {'class': 'uk-input', 'placeholder': 'Correo de Contacto (Ej. usuario@dominio.com)'} }) }}

    </div>
</div>

<div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: phone"></span>
            {{ form_widget(form.phone, { 'attr': {'class': 'uk-input', 'placeholder': 'Número de Contacto(Ej. +56940444172)'} }) }}

        </div>
    </div>

    <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                {{ form_widget(form.details, { 'attr': {'value': details  ,'class': 'uk-input', 'placeholder': 'Detalles de Compra (Ej. Bioshock Pack PS3)'} }) }}

            </div>
        </div>

        <div class="jp-margin-top-bottom">
          <p class="regular-paragraph">Adjunta tu comprobante de pago (.jpg, .pdf, .png) - Máx 6mb.</p>
        </div>

        <div class="uk-margin" uk-margin>
       <div uk-form-custom="target: true" >
           {{ form_widget(form.brochure) }}
           <input class="uk-input uk-form-width-medium" type="text" placeholder="Seleccionar archivo" disabled>
       </div>
   </div>

        <button class="uk-button uk-button-primary">Enviar</button>

{{ form_end(form) }}


</div>

</div>

        </div>
        <div class="jp-collapse-mobile">
          <div class="uk-background-cover jp-first-container" style="background-image: url({{ asset('https://cdn.dribbble.com/users/1519660/screenshots/3507807/cassa1.gif') }});"></div>
        </div>
      </div>



</div>


{% include 'footer.html.twig' %}

{% block javascripts %}

{{ parent() }}

{% if message_result == 'enviado' %}

<script>
  UIkit.notification("Gracias por tu compra. Nos comunicaremos en breve.", {status: 'success'})
</script>

{% endif %}

{% if message_result == 'fallo' %}

<script>
  UIkit.notification("Parece que hubo un error, revisa tu formulario", {status: 'danger'})
</script>

{% endif %}

{% endblock %}


{% endblock %}
