{% extends 'dashboard/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="uk-container">

  <div class="uk-section">

    <h6 class="admin-title">Ventas</h6>
    <h1 class="admin-title-section">Control de Ventas</h1>
    <p class="admin-description">Administra todas las ventas realizadas a través de Webpay.</p>

    <div class="uk-section uk-section-small uk-overflow-auto">
  <table class="uk-table uk-table-divider uk-table-middle uk-text-center uk-table-hover">
      <thead>
          <tr>
              <th class="uk-width-small">ID De Venta</th>
              <th>Hora y Fecha</th>
              <th class="uk-table-expand">Estado</th>
              <th>Total</th>
              <th>Nombre del Cliente</th>
              <th>Teléfono</th>
              <th>Email</th>
              <th>Resumen de Venta</th>
          </tr>
      </thead>
      <tbody>
          {% for order in orders|reverse %}
          <tr>
              <td><p class="" uk-tooltip="N° {{ order.orderid }}">{{ order.orderid[:10] }}</p></td>
              <td><p>{{ order.date|date('Y-m-d H:i') }}</p></td>
              <td><p><span class="badge
            {% if order.status == "Pagado" %} green
            {% elseif order.status == "Rechazado" %} red
            {% elseif order.status == "Anulado" %} red
            {% elseif order.status == "Pendiente de Pago" %} orange {% endif %}
            ">{{ order.status }}</span></p></td>
              <td><p>${{ order.total|number_format(0) }} CLP</p></td>
              <td><p>{{ order.clientname }}</p></td>
              <td><p>{{ order.clientphone }}</p></td>
              <td><p>{{ order.clientmail }}</p></td>
              <td><a href="{{ path('store-order', { 'id' : order.orderid } ) }}">Ver Resumen</a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>


  </div>

</div>


{% endblock %}
