
<div uk-slider="center: true; autoplay: true; autoplay-interval: 2000">

    <div class="uk-position-relative uk-visible-toggle">

        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">

          {% for game in newgames %}
 {% if game.isvisible %}
            <li>
                <div class="videogame-item store-highlight-item uk-position-relative" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url({{  asset('uploads/productcovers/'~game.cover) }}) no-repeat center center/ cover;">
                  <div class="uk-position-top-left uk-panel">
                    <p class=" uk-margin-small-left jp-margin-top-price">
                      <a class="add-to-cart" href="#modal-full-{{ game.id }}" uk-toggle>
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"> </span> Comprar
                      </a>
                    </a>
                  </p>
                </div>
                  <div class="uk-position-bottom-right uk-panel cover">
                    {#<h1 class="uk-margin-small-right uk-margin-small-bottom">CLP ${{ game.finalprice|number_format(0) }}</h1>#}
                    <div class="price uk-margin-small-right uk-margin-small-bottom">
                      <div class="uk-grid-collapse" uk-grid="uk-grid">
                        <div class="uk-width-auto percent-container">
                          <div class="uk-margin-small-left uk-height-1-1">
                            <div class="jp-position-center ">
                              <p>
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: minus"></span>
                                {{ game.discountpercentage }}%</p>
                            </div>
                          </div>
                        </div>
                        <div class="uk-width-auto finalprice-container">
                          <div class="uk-margin-small-right">
                            <p class="previous-price">CLP ${{ game.originalprice|number_format(0) }}</p>
                          </div>
                          <div class="uk-margin-small-right">
                            <p class="new-price">CLP ${{ game.finalprice|number_format(0) }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </li>

            {% endif %}

            {% endfor %}


        </ul>

        {% for game in newgames %}

        <div id="modal-full-new-{{ game.id }}" class="uk-modal-full" uk-modal="uk-modal">
          <div class="uk-modal-dialog ">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close="uk-close"></button>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle modal-game" uk-grid="uk-grid">
              <div class="uk-background-cover" style="background-image: url({{ asset('uploads/productcovers/' ~ game.cover) }});" uk-height-viewport="uk-height-viewport"></div>
              <div class="uk-padding-large">
                <h1 class="game-title uk-text-center">{{ game.title }}</h1>

      <p class="game-description"> <span class="uk-text-bold">Consola: </span> {{ game.console }} </p>
      <p class="game-description"> <span class="uk-text-bold">Peso Del Juego: </span> {{ game.size }} </p>
                  <p class="game-description"> <span class="uk-text-bold">Espacio Necesario En La Consola: </span> {{ game.sizeinconsole }} </p>
                              <p class="game-description"><span class="uk-text-bold">Descripción: </span>{{ game.description|nl2br }}</p>

              <div class="uk-text-center">
                <a class="circular-white-button" href="{{ path('additemcart',{ 'productid' : game.id }) }}" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> {{ game.title }} fue agregado al carro.'})">
                          <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
                          Agregar al carro <span class="uk-icon" uk-icon="icon: minus"></span>CLP ${{ game.finalprice|number_format(0) }}</a>
                          <p class="previous-price"> CLP ${{ game.originalprice|number_format(0) }}</p>
              </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
