{% extends 'dashboard/base.html.twig' %}

{% block title %}{{ controller_name }}
{% endblock %}

{% block body %}

  <div class="background-accent">

    <div class="uk-container">

      <div class="uk-margin-medium-top">

        <h6 class="admin-title">Inicio</h6>
        <h1 class="admin-title-section">Splash de Oferta
        </h1>
        <div class="uk-margin-small-top">
          {% if splashcontainer.isvisible %}
            <a class=" button-style-a" href="{{ path('tooglemenu', {'id': splashcontainer.id} ) }}">Activado</a>
          {% else %}
            <a class=" button-style-a disabled-item" href="{{ path('tooglemenu', {'id': splashcontainer.id} ) }}">Desactivado</a>
          {% endif %}
          <p class="product-description uk-display-inline">
            <a href="#modal-section-editsplash" uk-toggle style="border: 1px solid rgba(0,0,0,0.08); color: #999; border-radius: 5px; padding: 5px 10px;">
              Editar
            </a>
          </p>
        </div>

        <div class="uk-grid-match uk-flex uk-flex-middle uk-margin-medium-top uk-margin-medium-bottom uk-child-width-1-1 uk-child-width-1-2@s splash" uk-grid="uk-grid">

          <div>
            <div id="splashcover" class="cover uk-background-cover uk-height-medium uk-position-relative" style="background-image: url({{ asset('uploads/productcovers/' ~ finalsplash.cover) }});">

              <div class="tag uk-position-bottom-right uk-margin-small-bottom uk-margin-small-right">
                <p>Destacado</p>
              </div>

            </div>
          </div>

          <div>
            <div class="description">
              <h4>Promoción del Día</h4>
              <p>Splash mostrado cuando se apertura su sitio web catalogado como la promoción del día.</p>
              <p><span class="uk-icon uk-margin-small-right" uk-icon="icon: tag"></span><span id="splashtitle_text">{{ finalsplash.title }}</span></p>
              <p>  <span class="uk-icon uk-margin-small-right uk-text-strike" uk-icon="icon: hashtag"></span><span id="splashprice_text">CLP ${{ finalsplash.finalprice|number_format(0) }}</span></p>
            </div>
          </div>

        </div>

        <h6 class="admin-title">Inicio</h6>
        <h1 class="admin-title-section">PreOrdenes</h1>

        <div class="uk-margin-medium-top uk-margin-medium-bottom splash">

          <div id="ajax-results" class="cover  uk-width-1-1  uk-background-cover uk-height-medium uk-position-relative" style="background-image: url({{ asset('uploads/productcovers/' ~ preorderbackground.value) }});">
            <div class="tag uk-position-center">
              <form action="{{ (path('dashboard-home')) }}" method="POST">
                <div class="uk-margin">
                  <div uk-form-custom="uk-form-custom">
                    <input id="change-preorderbackground" type="file">
                    <span style="background: #fff; box-shadow: 0px 10px 20px rgba(0,0,0,0.09); border-radius: 500px; padding: 15px;">Cambiar portada</span>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>

        <h6 class="admin-title">Inicio</h6>
        <h1 class="admin-title-section">Destacados</h1>

        {#<form class="uk-search uk-search-default uk-width-1-1 uk-width-1-2@s">
            <span uk-search-icon></span>
            <input class="uk-search-input" type="search"  placeholder="Buscar Producto...">
        </form>#}

        {{ include('dashboard/productslayout.html.twig', {'maintag': 'Destacados', 'products': highlightproducts}) }}

        {# Another section #}

        <h6 class="admin-title">Inicio</h6>
        <h1 class="admin-title-section">Ofertas de la Semana</h1>

        {#<form class="uk-search uk-search-default uk-width-1-1 uk-width-1-2@s">
            <span uk-search-icon></span>
            <input class="uk-search-input" type="search"  placeholder="Buscar Producto...">
        </form>#}

        {{ include('dashboard/productslayout.html.twig', {'maintag': 'Destacados', 'products': weekendofferproducts}) }}

        <h6 class="admin-title">Inicio</h6>
        <h1 class="admin-title-section">Horarios de Atención</h1>

        <form class="uk-grid-small uk-margin-medium-bottom uk-margin-small-top" action="{{ (path('dashboard-home')) }}" method="POST" uk-grid="uk-grid">
          <div class="uk-width-1-1">
            <input id="horarios_input" class="uk-input" type="text" value="{{ workdates.value }}" placeholder="LUNES A VIERNES">
          </div>
          <div class="uk-text-right">
            <button id="changedate_button" class="button-style-a uk-button" style="padding: 0px 20px;">Guardar</button>
          </div>
        </form>

      </div>

    </div>

    {# SPLASH MODIFIER #}

    <div id="modal-section-editsplash" uk-modal="uk-modal">
      <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close="uk-close"></button>
        <form id="splash-form" action="{{ (path('dashboard-home')) }}" method="POST">

          <div class="uk-modal-header">
            <h2 class="uk-modal-title">Modificación Splash</h2>
          </div>
          <div class="uk-modal-body">

            <div class="uk-margin">
              <input id="splashtitle" value="{{ finalsplash.title }}" class="uk-input" type="text" placeholder="Titulo (Producto Estreno)" required>
            </div>

            <div class="uk-margin">
              <input id="splashprice"  value="{{ finalsplash.finalprice }}" class="uk-input" type="text" placeholder="Precio (12990)" required>
            </div>

            <div class="uk-margin" uk-margin="uk-margin">
              <div uk-form-custom="target: true" class="uk-width-1-1">
                <input id="splashfile" type="file" required>
                <input class="uk-input uk-width-1-1 uk-form-width-1-1" type="text" placeholder="Seleccionar imagen" disabled="disabled">
              </div>
            </div>
          </div>
          <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
            <button id="splash_button" class="uk-button uk-button-primary" type="button">Guardar</button>
          </div>
        </form>
      </div>
    </div>

  </div>

{% endblock %}
